.App {
  text-align: center;
}

.logo {
  height: 14vmin;
  pointer-events: none;
}

.mr-auto {
  color: white;
}


#header-text {
  color:honeydew;

}

#footer-text {
  color:honeydew;
}

#footer-logo {
  height: 40vmin;
  pointer-events: none;
}
